body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
}

button {
    margin: 8px;
    padding: 10px 15px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}